body{
    margin: 0px;
    text-align: center;
    font-family:'merriweather',serif;
}

h1 {
    font-family: 'Merienda', cursive;
    font-size: 2.2rem;
    color: #66bfbf;
}

.top-container {
    display: block;
    margin: auto;
    padding-top: 126px;
    height: fit-content;
    width: 100%;
    background-color: #e4f9f5;
    padding-bottom: 0px;
    
}

.cloud1 {
    width: 200px;
    position: absolute;
    top: 1cm;
    right: 250px;
}
.cloud2 {
    width: 200px;
    position: absolute;
    left: 200px;
}
.circle {
    display: block;
    margin: auto;
}
.workingperson-png{
    display: block;
    margin: auto;
    overflow: hidden;
}
.description {
    margin-top: 75px;
    padding: 2rem;
    padding-bottom: 110px;
    margin-left: 200px;
    margin-right: 150px;
    background: linear-gradient(288deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);  
    padding-top: 100px;
    box-shadow: 0 1.5rem 1.9rem rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;

}
.description_img {
    transform: translateX(-8rem);
    position: relative;
    bottom:0.5rem;
}
.description_img img {
    width: 400px;
    border-radius: .8rem;
}

.description_info {
    font-size: 1.4rem;
    text-align: left;

}
.description_date {
    display: block;
    color: rgba(0,0,0,.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}
.description_title {
    padding: 1px;
    font-size: 2.5rem;
    text-shadow: 0 0 3px black;
    color: white;
    margin-top: 1.5rem 0 2rem;
    text-transform: uppercase;
    border-radius: .8rem;
    margin-right: 300px;
    margin-left: 0px;
}
.description_button {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -moz-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -ms-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: -o-linear-gradient(top, #ffffff, #c9c9c9);
    background-image: linear-gradient(to bottom, #ffffff, #c9c9c9);   display: inline-block;
    padding:10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2;
    color: black;
    border-radius: .8rem;
    text-decoration: none;
}
.description_button:hover {
    background: #c9c9c9;
    background-image: -webkit-linear-gradient(top, #c9c9c9, #ffffff);
    background-image: -moz-linear-gradient(top, #c9c9c9, #ffffff);
    background-image: -ms-linear-gradient(top, #c9c9c9, #ffffff);
    background-image: -o-linear-gradient(top, #c9c9c9, #ffffff);
    background-image: linear-gradient(to bottom, #c9c9c9, #ffffff);
    text-decoration: none;
  }
.skills {
    display: block;
    margin: auto;
    margin-top: 15rem;
    margin-bottom: 5rem;
    padding: 2rem;
    padding-bottom: 1px;
    background: linear-gradient(288deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);  padding-top: 100px;
    box-shadow: 0 1.5rem 1.9rem rgba(0,0,0,.2);
    border-radius: .8rem;
    height: 30rem;
    width: 50%;
}
.skill-image {
    transform: translateY(-16rem);
}
.skill-image img {
    width: 20rem;
    border-radius:10rem;
}
.skills-info {
    position: relative;
    bottom: 17rem;
}
.skill1 {
    display: flex;
    border-radius: .8rem;
    padding: .5rem;
    padding-left: 2rem;
    background: azure;
    margin-left:0px;
    margin-right:0px;
    margin-top: 0px;
    text-shadow: 0 0 3px black;
    text-transform: uppercase;
    font-size: 14px;
    background: transparent;
    
}
.skills-title {
    color: white;
    text-shadow: 5px 5px 5px black;
}


.skill1 .name {
    position: relative;
    width:110px;
    text-align: left;
    
}


.skill1 i{
    font-size: 35px;
}

.percent {
    position: relative;
    margin-right: 10px;
    width:100%;
    height:20px;
    margin:0 10px;
    border-radius: 8rem;
    background: linear-gradient(288deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);
    box-shadow:inset 0 0 10px rgb(0, 0, 0);
    overflow: hidden;
    
}
.progress {
    position: absolute;
    top:0;
    left: 0;
    width: 70%;
    height: 100%;
    border-radius: 8rem;
    background:#14ffec;
    box-shadow: inset 0 0 2px #000;
    animation: animate 4s ease-in-out forwards;
}
@keyframes animate {
    from
    {
        width:0;
    }
}

.work{
    display: block;
    margin: auto;
    width: 1000px;
}

.project-item{
    margin-top: 50px;
    margin-left: -90px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 100px;
}

.item{
    width: 350px;
    height: 262.5px;
}

.item img{
    display: block;
    width: 350px;
}

.overlay{
    margin-top: -263px;
    height: 262.5px;
    width: 350px;
    opacity: 0;
    transition: .5s ease-in;
    background-color: #14bfbf;
    
}

.item img:hover{
    opacity: 0;
}

.item:hover .overlay{
    opacity: 1;
}



.touch {
    display: block;
    margin: auto;
    width: 30%;
    color: #14bfbf;
    border-style: solid;
    border-radius: 8rem;
}
.links {
    background: #66bfbf;
    padding-bottom: 1px;
}
.btn {
    font-size: 40px;
    text-decoration: none;
}
.fa {
  padding: 10px;
  padding-top: 20px;
  font-size: 30px;
  width: 35px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-linkedin {
    background: #3B5998;
    color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
}
.fa-instagram {
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    color: white;
  }
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  




  @media screen and (max-width:1285px) {
      .circle{
          overflow: hidden;
      }
      .cloud1{
          display: none;
      }
      .cloud2{
          display: none;
      }
      
      .description{
          display: block;
          margin: auto;
          margin-top: 200px;
          width: 80%;
          height: 600px;
          text-align: center;
          align-items: center;
      }
      .description_img{
          position: relative;
          z-index: 1;
          margin-left: 250px;
          bottom: 250px;
      }
      .description_info{
        position: relative;
        bottom: 200px;
      }
      .skills{
          width: 70%;
      }

      .work {
          display: block;
          margin: auto;
          width: 500px;
      }

      .project-item {
          margin-top: 50px;
          margin-left: -90px;
          display: grid;
          grid-template-columns: 300px 300px;
          grid-template-rows: 200px 200px;
          grid-gap: 60px;
      }

      .item {
          width: 300;
          height: 262.5px;
      }

      .item img {
          display: block;
          width: 300px;
      }

      .overlay {
          margin-top: -227px;
          width: 300px;
          height: 225px;
          opacity: 0;
          transition: .5s ease-in;
          background-color: #14bfbf;

      }

      .item img:hover {
          opacity: 0;
      }

      .item:hover .overlay {
          opacity: 0.3;
      }
  }

  @media screen and (max-width:480px) {
      .top-container{
          width: 100%;
          padding-top: 85px;
      }
      
      .workingperson-png{
          width: 300px;
      }

      .description {
          display: block;
          margin: auto;
          margin-top: 100px;
          width: 80%;
          height: 300px;
          text-align: center;
          align-items: center;
      }
      .description_date{
          display: none;
      }

      .description_img {
          position: relative;
          margin-left: 170px;
          bottom: 190px;
      }
      .description_img img{
          width: 200px;
      }

      .description_info {
          position: relative;
          bottom: 200px;
          font-size: 15px;
      }
      .skills{
          margin-top: 100px;
          width: 80%;
          height: 430px;
      }
      .skill-image{
          margin-top: 100px;
      }
      .skill-image img{
          width: 150px;
      }
      .skills-info{
          margin-top: 10px;
          width: 300px;
      }

      .work {
          display: block;
          margin: auto;
          width: 300px;
      }

      .project-item {
          margin-left: auto;
          margin-top: 50px;
          display:flex;
          flex-direction: column;
          height: 1800px;
      }

      .item {
          width: 280px;
          height: 262.5px;
      }

      .item img {
          display: block;
          width: 300px;
      }

      .overlay {
          margin-top: -227px;
          width: 300px;
          height: 225px;
          opacity: 0;
          transition: .5s ease-in;
          background-color: #14bfbf;

      }

      .item img:hover {
          opacity: 0;
      }

      .item:hover .overlay {
          opacity: 1;
      }

      .touch {
          width: 50%;
      }
  }